<!DOCTYPE html>
<html>
	<head>
		<title>{{page.title}}</title>
		<!--link to main stylesheet -->
		<link rel="stylesheet" href="stylesheet.css">
	</head>
	
	<body>
		<nav>
			<ul> 
				<li><a href="/">About</a></li>
				<li><a href="#Research">Research</a></li>
				<li><a href="#Teaching">Teaching</a></li>
				<li><a href="#Talks">Talks</a></li>
				<li><a href="/hobbies">Hobbies</a></li>
			</ul>
		</nav>
		
   <div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
      
    
	</body>
